.container {
	height: 520px;
}

.image {
	max-width: 100%;
	object-fit: cover;
	height: 100%;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

@media screen and (max-width: 640px) {
	.hero {
		display: none;
	}
}
