.btnVote {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--white);
	background-color: var(--primary);
	padding: 0.7rem 2.5rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.btnVote > i {
	font-size: 0.9rem;
}

.btnVote:hover {
	opacity: 0.9;
}

.btnVote:active {
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
	-moz-transform: scale(0.98);
	-ms-transform: scale(0.98);
	-o-transform: scale(0.98);
}
