.gallery {
	padding: 8rem 2rem;
}

.container {
	max-width: 1400px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2rem;
}

.heading {
	font-size: 1.3rem;
}

.header a {
	color: var(--secondary);
	font-weight: 600;
	font-size: 1.1rem;
	opacity: 0.8;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.header a:hover {
	opacity: 1;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
