.purpose {
	border-radius: 0.5rem;
	display: grid;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}

.imageContainer {
	display: flex;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.purpose:nth-child(odd) .imageContainer {
	justify-content: flex-start;
}


.purpose:nth-child(even) .imageContainer {
	justify-content: flex-end;
}

.purpose:nth-child(even) .content {
	order: -1;
}

.image {
	max-width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.title {
	opacity: 0.8;
	font-weight: 600;
	margin-top: 0.6rem;
	width: fit-content;
	text-transform: capitalize;
	color: var(--black);
	font-size: 1.4rem;
	opacity: 0.8;
}

.description {
	font-size: 1.25rem;
	opacity: 0.8;
	color: var(--black);
	margin-top: 1rem;
}

@media screen and (max-width: 768px) {
	.purpose {
		grid-template-columns: 1fr !important;
		gap: 1rem !important;
	}

	.purpose:nth-child(even) .content {
		order: 2;
	}
}
